services:
  ficibus-producer:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: gtfsrt-ficibus
    environment:
      - "CONFIGURATION_PATH=/app/configurations/fecamp.mjs"
    ports:
      - "127.0.0.1:50005:3000"
    restart: unless-stopped

  amelys-producer:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: gtfsrt-amelys
    environment:
      - "CONFIGURATION_PATH=/app/configurations/montargis.mjs"
    ports:
      - "127.0.0.1:50007:3000"
    restart: unless-stopped

  chateauroux-producer:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: gtfsrt-chateauroux
    environment:
      - "CONFIGURATION_PATH=/app/configurations/chateauroux.mjs"
    ports:
      - "127.0.0.1:50010:3000"
    restart: unless-stopped

  niort-producer:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: gtfsrt-niort
    environment:
      - "CONFIGURATION_PATH=/app/configurations/niort.mjs"
    ports:
      - "127.0.0.1:50011:3000"
    restart: unless-stopped

  dreux-producer:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: gtfsrt-dreux
    environment:
      - "CONFIGURATION_PATH=/app/configurations/dreux.mjs"
    ports:
      - "127.0.0.1:50012:3000"
    restart: unless-stopped

  vichy-producer:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: gtfsrt-vichy
    environment:
      - "CONFIGURATION_PATH=/app/configurations/vichy.mjs"
    ports:
      - "127.0.0.1:50013:3000"
    restart: unless-stopped
