services:
  ficibus-producer:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: gtfsrt-ficibus
    environment:
      - "GTFS_RESOURCE_HREF=https://api.atm.cityway.fr/dataflow/offre-tc/download?provider=FICIBUS&dataFormat=GTFS"
      - "HAWK_SLUG=ficibus"
    ports:
      - "127.0.0.1:50005:3000"
    restart: unless-stopped